<script lang="ts">
import {useCategoriesStore, useProductsStore} from '@/composables'
import { defineComponent } from 'vue'

  export default defineComponent({
    props: {
      name: String,
    },
    name: 'CategoryList',
    components: {},
    data() {
      const { category } = useProductsStore()
      return {
        active: true,
        selected: [category]
      }
    },
    setup() {
      const { categories } = useCategoriesStore()
      const { setCategory } = useProductsStore()

      return {
        categories,
        setCategory
      }
    },
    methods: {
      uniqueCheck(e: any){
        this.selected = []
        if (e.target.checked) {
          this.setCategory(e.target.value)
          this.selected.push(e.target.value)
        } else {
          this.setCategory('')
          this.selected = []
        }
      }
    }
  })
</script>

<template>
  <div class="border-b border-gray-200 py-6">
    <h3 class="-my-3 flow-root">
      <button
        @click="active = !active"
        type="button"
        class="flex w-full items-center justify-between py-3 text-sm text-gray-400 hover:text-gray-500"
        aria-controls="filter-section-0"
        aria-expanded="false"
      >
        <span class="font-medium text-gray-900">{{ name }}</span>
        <span class="ml-6 flex items-center">
          <svg v-if="active" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
          </svg>
          <svg v-else class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
          </svg>
        </span>
      </button>
    </h3>
    <Transition name="slide-fade">
      <div v-if="active" class="pt-6" v-bind:id="`filter-section-${name}`">
        <div class="space-y-4">
          <div v-for="(categoryItem) in categories" class="flex items-center">
            <input
                v-bind:id="categoryItem"
                v-bind:name="categoryItem"
                v-bind:value="categoryItem"
                v-model="selected"
                @change="uniqueCheck"
                type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
            >
            <label for="filter-color-0" class="ml-3 text-sm text-gray-600">{{ categoryItem }}</label>
          </div>
        </div>
      </div>
    </Transition>
  </div>
</template>