<script lang="ts">
  import {defineComponent} from "vue";
  import {useProductsStore} from "@/composables";
  import ProductCard from "@components/Products/ProductCard.vue";
  export default defineComponent({
    props: {
      name: String,
    },
    name: 'DropDownSorter',
    components: {ProductCard},
    data() {
      return {
        sorts: ['desc', 'asc'],
        active: false
      }
    },
    setup() {
      const { setSort, sort } = useProductsStore()

      return {
        setSort,
        sort
      }
    }
  })

</script>

<template>
  <div class="relative inline-block text-left">
    <div>
      <button
          @click="active = !active"
          type="button"
          class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
          aria-expanded="false"
          aria-haspopup="true">
        Sort: {{ sort }}
        <svg class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <Transition name="slide-fade">
      <div v-if="active" class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none"
           role="menu"
           aria-orientation="vertical"
           aria-labelledby="menu-button"
           tabindex="-1">
        <div class="py-1" role="none">
          <a v-for="(itemSort) in sorts"
             href="#"
             class="text-gray-500 block px-4 py-2 text-sm hover:bg-gray-100"
             v-bind:class="sort === itemSort ? 'font-bold' : 'font-normal'"
             role="menuitem"
             tabindex="-1"
             v-bind:id="sort"
             @click="() => {
               active = false
               setSort(itemSort)
             }"
          >
            {{ itemSort }}
          </a>
        </div>
      </div>
    </Transition>
  </div>
</template>