<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  props: {
    title: String,
  },
  name: 'HeaderProducts',
})
</script>

<template>
  <h1 class="text-4xl font-bold tracking-tight text-gray-900">{{ title }}</h1>
</template>

<style scoped>

</style>