<script lang="ts">
import {defineComponent} from "vue";
export default defineComponent({
  name: 'ListEmpty',
})

</script>
<template>
  <main class="w-full rounded shadow-sm min-h-full bg-white py-24 sm:py-32 flex-wrap justify-center items-center">
    <div class="text-center">
      <p class="text-base font-semibold text-gray-500">No found products</p>
      <router-link class="text-base font-semibold text-blue-500" to="/" >Reload Page</router-link>
    </div>
  </main>
</template>

<style scoped>

</style>