<script lang="ts">
  import {defineComponent} from "vue";
  import type { PropType } from 'vue'
  import {IProduct} from "@/interfaces/IProduct";
  import SkeletonProductCard from "@components/Products/SkeletonProductCard.vue";
  import {useCartStore} from "@/composables";

  export default defineComponent({
    props: {
      product: Object as PropType<IProduct>,
    },
    name: 'ProductCard',
    components: {SkeletonProductCard},
    setup() {
      const router = useRouter()

      const { addProduct } = useCartStore()
      return {
        router,
        addProduct
      }
    },
  })
</script>

<template>
  <div class="group relative shadow-sm p-3" v-bind:id="`product-${product?.id}`">
    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
      <img
          v-bind:src="product?.image"
          v-bind:alt="product?.title"
          @click="router.push({name: 'single.product', params: { id: product?.id}})"
          class="h-full w-full object-cover object-center lg:h-full lg:w-full cursor-pointer"
      >
    </div>
    <div class="mt-4">
      <div class="flex justify-between">
        <h3 class="text-sm text-gray-700">
          <a href="#" class="line-clamp-2">
            <span aria-hidden="true" class="inset-0"></span>
            {{ product?.title }}
          </a>
        </h3>
        <p class="text-sm font-medium text-gray-900">${{ product?.price }}</p>
      </div>

      <div class="flex flex-col">
        <p class="mt-1 text-sm text-gray-500 line-clamp-2">
          {{ product?.description }}
        </p>
      </div>
      <span class="inline-flex items-center my-4 rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
        {{ product?.category }}
      </span>
    </div>
    <button
        class="w-full mt-1 h-8 px-5 border border-black-500 rounded-lg hover:bg-gray-100"
        @click="addProduct(product)"
    >
      Add to cart
    </button>
  </div>
</template>

<style scoped>

</style>