<script lang="ts">
import SkeletonProductCard from "@components/Products/SkeletonProductCard.vue";
import ProductCard from "@components/Products/ProductCard.vue";
import {defineComponent} from "vue";
import {useProductsStore} from "@/composables";
import ListEmpty from "@components/Products/ListEmpty.vue";
export default defineComponent({
  name: 'ProductList',
  components: {ListEmpty, SkeletonProductCard, ProductCard},
  data() {
    return {
    }
  },
  setup() {
    const { products, isLoading } = useProductsStore()

    return {
      products,
      isLoading
    }
  }
})
</script>

<template>
  <div class="max-w-2xl lg:max-w-7xl lg:px-8 mx-2">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">List of products</h2>
    <div v-if="products.length > 0"  class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <SkeletonProductCard v-if="!isLoading" v-for="(item) in 6" :key="item" />
      <ProductCard v-for="(product) in products"  :product="product" />
    </div>
    <ListEmpty v-else />
  </div>
</template>

<style scoped>

</style>