<script lang="ts">
import {defineComponent, ref} from "vue";
import {useProductsStore} from "@/composables";
export default defineComponent({
  name: 'SearchBar',
  components: {},
  setup() {

    const debounceSearch = ref('')
    const debounceTimeOut = ref()
    const { search, setSearch } = useProductsStore()

    return {
      debounceSearch,
      searchName: computed({
        get() {
          return search.value
        },
        set(val: string) {
          if (debounceTimeOut.value) clearTimeout(debounceTimeOut.value);
          debounceTimeOut.value = setTimeout(() => {
            debounceSearch.value = val
            setSearch(debounceSearch.value)
          }, 2000)
        }
      }),
    }
  }
})

</script>

<template>
  <div class="pt-2 relative mx-auto text-gray-600 sm:w-full">
    <input
        class="border-2 border-gray-500 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
        type="search"
        name="search"
        placeholder="Search"
        v-model="searchName"
    >
  </div>
</template>