<template>
  <div class="shadow-sm rounded-md p-4 h-full w-full mx-auto">
    <div class="animate-pulse flex space-x-2 items-center justify-center">
      <div class="flex justify-between gap-3 w-full">
        <div class="h-96 w-full bg-slate-400 rounded"></div>
        <div class="flex-col content-between  space-y-1 w-full">
          <div class="flex flex-col gap-4 items-center justify-center py-10">
            <div class="h-4 w-full bg-slate-400 rounded"></div>
            <div class="h-4 w-full bg-slate-400 rounded"></div>
            <div class="h-10 w-full bg-slate-400 rounded"></div>
            <div class="h-7 w-1/2 bg-slate-400 rounded"></div>
          </div>
          <div class="h-8 w-full bg-slate-400 rounded"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
</script>