<template>
  <div class="shadow-sm rounded-md p-4 max-w-md w-full mx-auto">
    <div class="animate-pulse flex space-x-2">
      <div class="flex-1 space-y-6 py-1">
        <div class="h-40 bg-slate-400 rounded"></div>
        <div class="space-y-3">
          <div class="grid grid-cols-3 gap-4">
            <div class="h-2 bg-slate-400 rounded col-span-2"></div>
            <div class="h-2 bg-slate-400 rounded col-span-1"></div>
          </div>
          <div class="h-2 bg-slate-400 rounded"></div>
        </div>
      </div>
    </div>
  </div>
</template>