<script lang="ts">
import {defineComponent} from "vue";
import {useCartStore} from "@/composables";
export default defineComponent({
  name: 'Navbar',
  components: {},
  data() {
    return {
      product: null
    }
  },
  setup() {
    const {
      products,
    } = useCartStore()

    return {
      products
    }
  }
})
</script>

<template>
  <nav class="flex justify-between bg-gray-900 text-white w-screen">
    <div class="px-5 xl:px-12 py-6 flex w-full items-center">
      <router-link class="flex flex-wrap justify-between gap-1 text-3xl font-bold font-heading" to="/">
        <img class="h-9" src="@/assets/vue.svg" alt="logo">
        <span class="mt-1">Vue Products</span>
      </router-link>
      <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
        <li>
          <router-link class="hover:text-gray-200" to="/" >Products</router-link>
        </li>
      </ul>
      <div class="hidden xl:flex items-center space-x-5">
        <router-link  class="flex items-center hover:text-gray-200" to="/shopping-cart">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span v-if="products.length > 0" class="flex absolute -mt-5 ml-4">
              <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-red-400 opacity-75"></span>
              <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
          </span>
        </router-link>
      </div>
    </div>
    <router-link class="xl:hidden flex mr-1 items-center" to="/shopping-cart">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg>
      <span v-if="products.length > 0" class="flex absolute -mt-5 ml-4">
        <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-red-600 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500">
        </span>
      </span>
    </router-link>
    <a class="navbar-burger self-center mr-12 xl:hidden" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </a>
  </nav>
  <div class="fixed bottom-0 right-0 mb-4 mr-4 z-10">
    <div>
      <a title="Follow me on linkedin" href="https://www.linkedin.com/in/juan-sebastian-torres/"
         target="_blank"
         class="block w-8 h-8 rounded-2xl transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
        <img class="object-cover object-center " src="@/assets/linkeding.svg" alt="linkeding"/>
      </a>
    </div>
  </div>
</template>

<style scoped>

</style>