<script lang="ts">
  import HeaderFilters from "@components/Products/HeaderProducts.vue";
  import DropDownSorter from "@components/Products/DropDownSorter.vue";
  import CategoryList from "@components/Products/CategoryList.vue";
  import SearchBar from "@components/Products/SearchBar.vue";
  import ProductList from "@components/Products/ProductsList.vue";
  import {defineComponent} from "vue";

  export default defineComponent({
    name: 'HomePage',
    components: {HeaderFilters, DropDownSorter, CategoryList, SearchBar, ProductList},
    data() {
      return {
        active: true,
      }
    },
  })

</script>

<template>
  <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-24">
      <HeaderFilters title="Products Filter"/>
      <div class="flex items-center gap-1">
        <DropDownSorter name="Sort" />
        <button
            @click="active = !active"
            type="button"
            class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 sm:ml-6 lg:hidden">
          <span class="sr-only">Filters</span>
          <svg class="h-5 w-5" aria-hidden="true" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 01.628.74v2.288a2.25 2.25 0 01-.659 1.59l-4.682 4.683a2.25 2.25 0 00-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 018 18.25v-5.757a2.25 2.25 0 00-.659-1.591L2.659 6.22A2.25 2.25 0 012 4.629V2.34a.75.75 0 01.628-.74z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>
    <Transition name="slide-fade-right">
      <div v-if="active" class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-black bg-opacity-25"></div>
        <div class="fixed inset-0 z-40 flex">
          <div class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl">
            <div class="flex items-center justify-between px-4">
              <h2 class="text-lg font-medium text-gray-900">Filters</h2>
              <button
                  type="button"
                  class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400"
                  @click="active = !active"
              >
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <form class="mt-4 border-t border-gray-200 flex-col justify-center px-5">
              <SearchBar />
              <h3 class="sr-only">Categories</h3>
              <CategoryList name="Categories" />
            </form>
          </div>
        </div>
      </div>
    </Transition>
    <section aria-labelledby="products-heading" class="pb-24 pt-6">
      <h2 id="products-heading" class="sr-only">Products</h2>
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
        <form class="hidden lg:block">
          <SearchBar />
          <h3 class="sr-only">Categories</h3>
          <CategoryList name="Categories" />
        </form>
        <div class="lg:col-span-3">
          <ProductList/>
        </div>
      </div>
    </section>
  </main>
</template>
<style scoped></style>
