<template>
  <main class="w-full min-h-full bg-white py-24 sm:py-32 flex-wrap justify-center items-center">
    <div class="text-center">
      <p class="text-base font-semibold text-indigo-600">404</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Page not found</h1>
      <p class="mt-6 text-base leading-7 text-gray-600">Sorry, we couldn’t find the page you’re looking for.</p>
    </div>
  </main>
</template>

<script setup lang="ts">

</script>

<style scoped>

</style>