<script lang="ts">
import HeaderFilters from "@components/Products/HeaderProducts.vue";
import {defineComponent} from "vue";
import {useCartStore, useProductsStore} from "@/composables";
import { useRoute } from 'vue-router'
import SkeletonProductSingle from "@components/Products/SkeletonProductSingle.vue";
export default defineComponent({
  name: 'ProductList',
  components: {SkeletonProductSingle, HeaderFilters},
  setup() {
    const route = useRoute()
    const { product, fetchProduct, isLoading } = useProductsStore()
    const { addProduct } = useCartStore()
    const { id } = route.params
    fetchProduct(id as unknown as number)

    return {
      product,
      isLoading,
      addProduct
    }
  }
})

</script>

<template>
  <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-24">
      <HeaderFilters title="Product Detail"/>
    </div>
    <div class="lg:w-4/5 mx-auto flex flex-wrap items-center justify-center"
         v-if="!isLoading"
    >
      <SkeletonProductSingle/>
    </div>
    <section v-else aria-labelledby="products-heading" class="pb-24 pt-6">
      <h2 id="products-heading" class="sr-only">Products</h2>
      <section class="text-gray-700 body-font overflow-hidden bg-white">
        <div class="container px-5 py-12 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap items-center justify-center">
            <img
                v-bind:alt="product?.title"
                class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
                v-bind:src="product?.image"
            >
            <div class="lg:w-1/3 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
              <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ product?.category }}</h2>
              <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ product?.title }}</h1>
              <p class="leading-relaxed">
                {{ product?.description }}
              </p>
              <div class="flex flex-col justify-between items-center gap-1">
                <span class="w-full title-font font-medium text-2xl text-gray-900">$58.00</span>
                <button
                    class="w-full mt-1 h-10 px-5 border border-black-500 rounded-lg hover:bg-gray-100"
                    @click="addProduct(product)"
                >
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
</template>
<style scoped></style>
