<script lang="ts">
import { defineComponent } from "vue";
import HeaderFilters from "@components/Products/HeaderProducts.vue";
import CartItem from "@components/ShoppingCart/CartItem.vue";
import CartTotals from "@components/ShoppingCart/CartTotals.vue";
import { useCartStore } from "@/composables";
import EmptyCart from "@components/ShoppingCart/EmptyCart.vue";
export default defineComponent({
  name: 'ProductList',
  components: {EmptyCart, CartTotals, CartItem, HeaderFilters},
  data() {
    return {
      product: null
    }
  },
  setup() {
    const {
      isLoading,
      products,
      subtotal,
      taxes,
      total
    } = useCartStore()

    return {
      isLoading,
      products,
      subtotal,
      taxes,
      total
    }
  }
})

</script>

<template>
  <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-24">
      <HeaderFilters title="Shopping Cart Details"/>
    </div>
    <section aria-labelledby="products-heading" class="pb-24 pt-6">
      <h2 id="products-heading" class="sr-only">Shopping Cart</h2>
      <section class="text-gray-700 body-font overflow-hidden bg-white">
        <div class="w-full pt-10">
          <div class="mx-auto justify-center px-6 md:flex md:space-x-6 xl:px-0">
            <div class="rounded-lg md:w-2/3 bg-gray-50 max-h-96 overflow-y-auto px-4 py-2">
              <CartItem v-if="products.length > 0" v-for="(product) in products"  :product="product" />
              <EmptyCart v-else />
            </div>
            <CartTotals :subtotal="subtotal" :taxes="taxes" :total="total" />
          </div>
        </div>
      </section>
    </section>
  </main>
</template>
<style scoped></style>
