<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  props: {
    subtotal: Number,
    taxes: Number,
    total: Number,
  },
  name: 'CartTotals',
  components: {},
})
</script>

<template>
  <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
    <div class="mb-2 flex justify-between">
      <p class="text-gray-700">Subtotal</p>
      <p class="text-gray-700">${{ subtotal.toFixed(2) }}</p>
    </div>
    <div class="flex justify-between">
      <p class="text-gray-700">Taxes</p>
      <p class="text-gray-700">${{ taxes.toFixed(2) }}</p>
    </div>
    <hr class="my-4" />
    <div class="flex justify-between">
      <p class="text-lg font-bold">Total</p>
      <div class="">
        <p class="mb-1 text-lg font-bold">${{ total.toFixed(2) }} USD</p>
        <p class="text-sm text-gray-700">including VAT</p>
      </div>
    </div>
    <button class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">Check out</button>
  </div>
</template>

<style scoped>

</style>