<script lang="ts">
import {defineComponent} from "vue";
import type { PropType } from 'vue'
import {IProductCart} from "@/interfaces/IProduct";
import SkeletonProductCard from "@components/Products/SkeletonProductCard.vue";
import {useCartStore} from "@/composables";

export default defineComponent({
  props: {
    product: Object as PropType<IProductCart>,
  },
  name: 'CartItem',
  components: {SkeletonProductCard},
  data() {
    return {

    }
  },
  setup() {
    const router = useRouter()
    const { addProduct, decreaseProduct, deleteProduct } = useCartStore()

    return {
      router,
      addProduct,
      decreaseProduct,
      deleteProduct
    }
  },
})
</script>

<template>
  <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
    <img
        v-bind:src="product?.image"
        v-bind:alt="product?.title"
        @click="router.push({name: 'single.product', params: { id: product?.id}})"
        class="w-full rounded-lg sm:w-40 xl:h-40"
    />
    <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
      <div class="mt-5 sm:mt-0">
        <h2 class="text-lg font-bold text-gray-900">{{ product?.title }}</h2>
        <p class="mt-1 text-xs text-gray-700">{{ product?.category }}</p>
      </div>
      <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
        <div class="flex items-center border-gray-100">
          <button
              v-bind:disabled="product?.quantity === 1"
              :class="product?.quantity === 1 ? 'cursor-not-allowed' : ''"
              @click="product?.quantity >= 1 ? decreaseProduct(product): null"
              class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50"
          >
            -
          </button>
          <input
              class="h-8 w-12 border bg-white text-center text-xs outline-none"
              type="text"
              min="1"
              v-bind:value="product?.quantity"
          />
          <button
              @click="addProduct(product)"
              class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50"
          >
            +
          </button>
        </div>
        <div class="flex items-center space-x-4">
          <p class="text-sm">$ {{ product?.price }}</p>
          <button
              @click="deleteProduct(product)"
              class="cursor-pointer rounded bg-gray-100 py-1 px-3 duration-100 hover:bg-red-500 hover:text-gray-900"
          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>

        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>