<script lang="ts">
import {defineComponent} from "vue";
export default defineComponent({
  name: 'EmptyCart',
})

</script>
<template>
  <main class="rounded shadow-sm min-h-full bg-white py-24 sm:py-32 flex-wrap justify-center items-center">
    <div class="text-center">
      <p class="text-base font-semibold text-blue-500">Your cart is empty</p>
      <h1 class="mt-4 text-2xl font-bold tracking-tight text-gray-900 sm:text-2xl">But it dosn't have to be.</h1>
      <p class="mt-6 text-base leading-7 text-gray-600">Add products at you cart</p>
      <router-link class="text-base font-semibold text-blue-500" to="/" >Go Products</router-link>
    </div>
  </main>
</template>

<style scoped>

</style>