<script lang="ts">
import Navbar from "@components/Navigation/Navbar.vue";
import AuthDialog from "@components/Auth/AuthDialog.vue";
import {defineComponent} from "vue";
import {useAuthStore} from "@/composables";

export default defineComponent({
  name: 'ProductList',
  components: {Navbar, AuthDialog},
  data() {
    return {
      product: null
    }
  },
  setup() {
    const { isAuth } = useAuthStore()

    return {
      isAuth,
    }
  }
})
</script>
<template>
  <Navbar />
  <div class="container mx-auto">
    <AuthDialog v-if="!isAuth"/>
    <RouterView v-else />
  </div>
</template>


<style scoped>
</style>
