@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body{
  @apply bg-neutral-50 m-0 w-full h-screen flex;
  background: white;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-in;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

/* Slide left */

.slide-fade-right-enter-active {
  transition: opacity 0.3s;
  opacity: 1;
}

.slide-fade-right-leave-active {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.slide-fade-right-enter-from,
.slide-fade-right-leave-to {
  transform: translateX(0px);
  opacity: 0;
}