<script lang="ts">
import {defineComponent} from 'vue'
import {useAuthStore} from "@/composables";

export default defineComponent({
  name: 'AuthForm',
  props: {
  },
  data() {
    return {
      username: 'johnd',
      password: 'm38rmF$',
      errors: {
        username: false,
        password: false
      }
    }
  },
  setup() {
    const { authUser, isLoading } = useAuthStore()

    return {
      authUser,
      isLoading
    }
  },
  methods: {
    submit() {
      if (this.username.length === 0) {
        this.errors.username = true;
      }
      if (this.password.length === 0) {
        this.errors.password = true;
      }
      if (this.username.length > 0 && this.password.length > 0) {
        this.errors = {
          username: false,
          password: false
        }
        // this.username = ''
        // this.password = ''
        this.authUser({ username: this.username, password: this.password})
      }
    },
  }
})
</script>

<template>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="@/assets/vue.svg"
           alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your
        account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <div class="space-y-6">
        <div>
          <label
              for="email"
              class="block text-sm font-medium leading-6 text-gray-900"
              :class="errors.username ? 'text-red-500' : ''"
          >
            Username
          </label>
          <div class="mt-2 flex flex-col">
            <input
                id="username"
                name="username"
                type="text"
                autocomplete="username"
                class="block w-full rounded-md border-0 py-1.5
                text-gray-900 shadow-sm ring-1 ring-inset
                ring-gray-300 placeholder:text-gray-400 focus:ring-2
                focus:ring-inset focus:ring-dark-600 sm:text-sm sm:leading-6"
                :class="errors.username ? 'ring-red-600 border-red-500 text-red-500' : ''"
                @keyup="() => errors.username = false"
                v-model="username"
            >
            <span v-if="errors.username" class="w-full text-gray-500 text-sm text-red-500 mt-1">
              The username is required
            </span>
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
                for="password"
                class="block text-sm font-medium leading-6 text-gray-900"
                :class="errors.username ? 'text-red-500' : ''"
            >
              Password
            </label>
          </div>
          <div class="mt-2 flex flex-col">
            <input
                id="password"
                name="password"
                type="password"
                class="block w-full rounded-md border-0 py-1.5
                text-gray-900 shadow-sm ring-1 ring-inset
                ring-gray-300 placeholder:text-gray-400 focus:ring-2
                focus:ring-inset focus:ring-dark-600 sm:text-sm sm:leading-6"
                :class="errors.password ? 'ring-red-600 border-red-500 text-red-500' : ''"
                @keyup="() => errors.password = false"
                v-model="password"
            >
            <span v-if="errors.password" class="w-full text-gray-500 text-sm text-red-500 mt-1">
              The username is required
            </span>
          </div>
        </div>

        <div>
          <button
              @click="submit"
              class="flex w-full justify-center rounded-md
               bg-gray-900 px-3 py-1.5 text-sm
               font-semibold leading-6 text-white
               shadow-sm hover:bg-gray-500 focus-visible:outline
               focus-visible:outline-2 focus-visible:outline-offset-2
               focus-visible:outline-indigo-600"
          >
            <svg v-if="isLoading" class="animate-spin h-5 w-5 mr-3 text-gray-50 bg-gray-100" viewBox="0 0 24 24"></svg>
            Sign in
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>